<h2>Q & A</h2>
<% @article.comments.each do |comment| %>
	<p>
		<strong>Question:</strong>
		<%= comment.commenter %>
	</p>
		<%= comment.created_at.strftime('%A %-b %-d, %Y |%l :%M %p') %>
	<p>

	</p>

	<p>
		<strong>Body:</strong>
		<%= comment.body %>
	</p>

	<% if current_user && current_user.admin? %>
	<p>
		<%= link_to 'Delete Comment', [comment.article, comment],
		class: 'btn btn-sm btn-danger',
		method: :Delete,
		data: {confirm: 'Are you certain??'} %>
	</p>
	<% end %>

<% end %>